body{
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;


}

p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    z-index: 1;
}

div{
    width: 350px;
    height: 600px;
    padding: 0px;
    margin: 10px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 5px 5px 60px 60px hsl(217, 54%, 8%);
    border-radius: 25px;
    flex-direction: column;
    text-align: center;

}

#immagine{
    position: relative;
    margin-top: 25px;
    border-radius: 25px;
}

.flex-start{
    margin-left: 2vw;
    font-size: 18px;
    color: white;
    text-align: start;
    margin-left: 2vw;
    margin-right: 3vw;
}

.flex-start2{
    margin-left: 2vw;
    margin-right: 3vw;
    color: hsl(195, 22%, 47%);
    text-align: start;
    margin-left: 2vw;
    margin-right: 3vw;
}

.color-cyan{
    color: hsl(178, 100%, 50%);
}

.color-grey{
   color: hsl(195, 22%, 47%);
}

.ETH{
    display: inline-flex;
    gap: 10px;
}

.icon{
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 15px;
}

.start{
    margin-right: 4.5vw;
}

hr{
    margin-right: 3vw;
    margin-left: 3vw;
    background-color: hsl(195, 22%, 47%);
}

.icon-view{
    z-index: 999;
    position: absolute;
    bottom: 37vh;
    right: 46.5vw;


}



.avatar{
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 0.6vh;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 2vw;
    display: inline-flex;

}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:hsl(178, 100%, 50%);
    cursor: url(GLOVES-CURSOR1.png), auto;

}

#immagine:hover
{
   
    cursor: url(GLOVES-CURSOR1.png), auto;
    
} 


.align{
    margin-right: 5vw;

}

.title:hover{
    cursor: url(GLOVES-CURSOR1.png), auto;
    color:hsl(178, 100%, 50%);
}

.ethereumm{
    width: 22px;
    height: 32px;
}

